
<!-- <div class="toolbar" role="banner">
    <img
      width="40"
      src="../assets/images/njcLogo.png"
    />
    <div style="height: 60px;">
      <h3 style="width: 50px;height: 17px;font-size: 1.5rem;">TRAVEL</h3>
      <h6 style="font-size: 14px; display: inline;">Weather</h6>
      <h6 style="height: 10px;width: 200px;font-size: 14px; margin-top: 1px;">Covid</h6>
    </div> 
    
  
    <img
        style="position: absolute;width: 250px;right:0;height: 69px;margin-right: 0px;"
        src="../assets/images/hackathon.png"
    />
  </div> -->
  <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: black;">
    <img class="navbar-brand" src="https://njclabs.codepeedika.com/hubfs/raw_assets/public/Custom/NJC_Labs/img/logo-njc-labs.png"/>
    <a class="navbar-brand" routerLink="#">TravelZoom</a>
    <!-- <button 
    class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle"><fa-icon [icon]='["fas", "bars"]'></fa-icon></button -->
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
       
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0 float-right">
      <img
      class="navbar-brand rounded mx-auto d-block"
      src="../../../assets/images/hackathon.png"
  />
    </ul>
</nav>